__pycache__/
.mypy_cache/
.venv/
.vscode/
tmp/
*.class

# C言語関連のファイル
*.out
*.o

# 以下はmacOSが自動生成するうざい隠しファイル
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
